<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RIS.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <userSettings>
    <RIS.Properties.Settings>
      <setting name="SettingsUpdated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>DEBUG</value>
      </setting>
      <setting name="WorkingFolder" serializeAs="String">
        <value>C:\ProgramData\RIS\</value>
      </setting>
      <setting name="AdminPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Decoder1_Server" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="Decoder1_Port" serializeAs="String">
        <value>9300</value>
      </setting>
      <setting name="Vehicles_Rows" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Vehicles_Columns" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Ticker_Text" serializeAs="String">
        <value>+++LIVE-Ticker+++  Der Text kann in den Optionen bearbeitet werden   +++LIVE-Ticker+++</value>
      </setting>
      <setting name="Vehicles_AutoDisponieren" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Vehicles_Statusbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Monitor_AlarmTime" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="Monitor_AlarmDelayTime" serializeAs="String">
        <value>00:15:00</value>
      </setting>
      <setting name="Monitor_WakeupStatusTime" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="Monitor_WakeupAlarmTime" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="MailOutput_Server" serializeAs="String">
        <value />
      </setting>
      <setting name="MailOutput_Port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MailOutput_SSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MailOutput_User" serializeAs="String">
        <value />
      </setting>
      <setting name="MailOutput_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="MailOutput_Sender" serializeAs="String">
        <value>Rescue-Information-System</value>
      </setting>
      <setting name="MailOutput_Subject" serializeAs="String">
        <value>Fax-Message-Service</value>
      </setting>
      <setting name="MailInput_Server" serializeAs="String">
        <value />
      </setting>
      <setting name="MailInput_Port" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MailInput_SSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MailInput_User" serializeAs="String">
        <value />
      </setting>
      <setting name="MailInput_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="MailInput_Subject" serializeAs="String">
        <value />
      </setting>
      <setting name="MailAms_Subject" serializeAs="String">
        <value>Alarm-Message-Service</value>
      </setting>
      <setting name="Route_Zip" serializeAs="String">
        <value />
      </setting>
      <setting name="Route_City" serializeAs="String">
        <value />
      </setting>
      <setting name="Route_Street" serializeAs="String">
        <value />
      </setting>
      <setting name="Route_Housenumber" serializeAs="String">
        <value />
      </setting>
      <setting name="Route_StartLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="Fax_PathInput" serializeAs="String">
        <value>C:\ProgramData\RIS\Inbox</value>
      </setting>
      <setting name="Fax_PathArchive" serializeAs="String">
        <value>C:\ProgramData\RIS\Archives</value>
      </setting>
      <setting name="SettingsVersion" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Decoder1_Mode" serializeAs="String">
        <value>OFF</value>
      </setting>
      <setting name="Route_ImageSize" serializeAs="String">
        <value>1024, 768</value>
      </setting>
      <setting name="Pagers_InsertItem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Decoder2_Mode" serializeAs="String">
        <value>OFF</value>
      </setting>
      <setting name="Decoder2_Port" serializeAs="String">
        <value>10322</value>
      </setting>
      <setting name="Decoder2_Server" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ForegroundColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="Route_HighQuality" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Route_ModeTruck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppExecute_OnStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlarmData_Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Ticker_IsFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ticker_Speed" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Alarmapp_ApiToken" serializeAs="String">
        <value />
      </setting>
      <setting name="Alarmapp_OrganisationId" serializeAs="String">
        <value />
      </setting>
      <setting name="Alarmapp_WebserviceUrl2" serializeAs="String">
        <value>https://api.app.ad-sys.de/</value>
      </setting>
      <setting name="Warnweather_ImageSize" serializeAs="String">
        <value>1024, 768</value>
      </setting>
      <setting name="Reboot_On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Riverlevel_Messstelle" serializeAs="String">
        <value>18481006</value>
      </setting>
      <setting name="Riverlevel_Mode" serializeAs="String">
        <value>HndBayern</value>
      </setting>
      <setting name="Webbrowser_Url" serializeAs="String">
        <value>https://client-mvc.rescue-information-system.de/</value>
      </setting>
      <setting name="Monitor_WeekplanDisabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Riverlevel_ImageSize" serializeAs="String">
        <value>1024, 768</value>
      </setting>
      <setting name="Fax_LockTime" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="Fireboard_AuthKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Fireboard_WebserviceUrl" serializeAs="String">
        <value>https://login.fireboard.net/</value>
      </setting>
      <setting name="Route_ModeFastest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Route_ModeTraffic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Warnweather_Url" serializeAs="String">
        <value>https://maps.dwd.de/geoproxy_warnungen/service?VERSION=1.3.0&amp;REQUEST=GetMap&amp;LAYERS=GRAY_HR_SR_OB_DR,DLM1000_Bundeslaender_Landkreise_gruen,Warnungen_Gemeinden_vereinigt,DLM1000_Landkreise,DLM1000_Gemeinden_Text&amp;STYLES=&amp;CRS=EPSG:3857&amp;BBOX=614360.8293587392,5933210.01991552,1713821.866597408,7423590.537061271&amp;FORMAT=image/png</value>
      </setting>
      <setting name="Monitor_Weekplan" serializeAs="String">
        <value>
          {
          "Monday": [],
          "Tuesday": [],
          "Wednesday": [],
          "Thursday": [],
          "Friday": [],
          "Saturday": [],
          "Sunday": []
          }
        </value>
      </setting>
      <setting name="Fax_OcrSettings" serializeAs="String">
        <value>
          {
          "Absender": null,
          "Schlagwort": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Stichwort1": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Stichwort2": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Stichwort3": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Ort": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Straße": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Hausnummer": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "KoordinatenHW": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "KoordinatenRW": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Objekt": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Station": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Kreuzung": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Abschnitt": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          },
          "Bemerkung": {
          "Start": null,
          "Start_FirstWord": false,
          "Stop": null
          }
          }
        </value>
      </setting>
      <setting name="FmsSettings" serializeAs="String">
        <value>
          {
          "Status1": {
          "MainOn": true,
          "AlarmOn": true,
          "Color": "#FF00FF00"
          },
          "Status2": {
          "MainOn": true,
          "AlarmOn": true,
          "Color": "#FF008000"
          },
          "Status3": {
          "MainOn": true,
          "AlarmOn": true,
          "Color": "#FFFFA500"
          },
          "Status4": {
          "MainOn": true,
          "AlarmOn": true,
          "Color": "#FFFF0000"
          },
          "Status5": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "Status6": {
          "MainOn": true,
          "AlarmOn": true,
          "Color": "#FF808080"
          },
          "Status7": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "Status8": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "Status9": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "StatusA": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "StatusC": {
          "MainOn": true,
          "AlarmOn": true,
          "Color": "#FFFFFFFF"
          },
          "StatusE": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "StatusF": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "StatusH": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "StatusJ": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "StatusL": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "StatusP": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          },
          "StatusU": {
          "MainOn": false,
          "AlarmOn": false,
          "Color": "#00FFFFFF"
          }
          }
        </value>
      </setting>
    </RIS.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0"
                type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Data Source=C:\ProgramData\RIS\RISv7-DB.sdf;Persist Security Info=True;Password=SRS;"
         providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>